<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" href="">
</head>
<body>
  <nav>
    <h1>HRManagement</h1>
    <h3 id="token"><%= token %></h1>
    <h3 id="id"><%= id %></h1>
  </nav> 
  <h2 id="anouce" hidden>Reset password successfully</h2>
  <form  id="form">
    <h2>Reset password</h2>
    <label for="password">Password</label>
    <input type="password" id="password"  />
    <div class="password error"></div>
    <label for="confirmPassword" >Confirm Password</label>
    <input type="password" id="confirmPassword"  />
    <div class="confirmpassword error"></div>
    <button onclick="handleSubmit(event, '<%token%>')">Reset</button>
  </form>

<footer>HR Management</footer>

</body>
</html>

<script>

  const passwordError = document.querySelector('.password.error');
  const confirmPasswordError = document.querySelector('.confirmpassword.error');
  let success = true;

  const token=document.getElementById('token').innerHTML;
  const id=document.getElementById('id').innerHTML;
  
  async function handleSubmit(event){
    event.preventDefault()

    confirmPasswordError.textContent = '';
    passwordError.textContent = '';
    console.log('submit')
    const password = document.getElementById('password')
    const confirmPassword = document.getElementById('confirmPassword')

    console.log(password.value,confirmPassword.value, id, token);
    if (password.value != confirmPassword.value) {
      confirmPasswordError.textContent = "The password and password confirmation do not match";
    } else {
    try {
      const res = await fetch(`/reset-password?token=${token}&id=${id}`, { 
        method: 'POST', 
        body: JSON.stringify({ password: password.value}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.error) {
        passwordError.textContent = data.error.message || data.error;
      }
      else {
        location.assign('/');
        alert(data.message);
      }

    }
    catch (err) {
      console.log(err);
    }
  }

}
  
</script>